body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: black;
  z-index: 999999999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav>li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: yellow;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff;
}

a:hover {
  color: white;
}

/* Border from Y to X  */

.borderYtoX a:before, .borderYtoX a:after {
  position: absolute;
  opacity: 0.9;
  height: 100%;
  width: 2px;
  content: ' ';
  transition: all 0.3s;
  background-color: white;
}

.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  background-color: yellow;
  opacity: 0.9;
  height: 2px;
  width: 100%;
}
